.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1rem 10rem 10rem 10rem;

}

.full-width {
  width: 50%;
}
.title {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
}

.buttons > * {
  margin: 1rem;
}

.spacer {
  height: 50px;
}

.table {
  margin-top: 30px;
  border: 1px solid black;
  width: 10%;
  border-collapse: collapse;
}
