.index {
  margin: 1rem; /* Reducido el margen para que el contenido se ajuste mejor */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.table {
  border: 1px solid black;
  width: 100%; 
  max-width: 100%; 
  overflow-x: auto; 
}

.title {
  font-size: 1.5rem; 
  color: #000; 
  font-weight: 800;
  margin-bottom: 1rem; 
}

.buttons {
  margin: 1rem; 
}

.buttons > * {
  margin: 0.5rem; 
}

.table th, .table td {
  padding: 8px 12px; 
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table td {
  border-bottom: 1px solid #ddd;
}

.totals {
  margin-top: 1rem; 
}

.action-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center; 
}

.buttonedit {
  color: #1f516f;
}

.buttondelete {
  color: #e15639;
}
