<div class="home">

    <!-- Botón para regresar al login -->
    <div class="back-button" (click)="goToLogin()">
      <mat-icon>arrow_back</mat-icon>
    </div>
  
  <div class="background"></div>
  <div class="home-button">
    <mat-icon class="icon-home">home_work</mat-icon>
  </div>
  
  <div class="options">
    <a routerLink="/user/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display">group</mat-icon>
        <span class="text">Usuarios</span>
      </button>
    </a>
    <a routerLink="/clients/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display">diversity_3</mat-icon>
        <span>Clientes</span>
      </button>
    </a>
    <a routerLink="/suppliers/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display">handshake</mat-icon>
        <span>Proveedores</span>
      </button>
    </a>
    <a routerLink="/invoices/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display"> paid </mat-icon>
        <span>Facturas</span>
      </button>
      
    </a>
    <a routerLink="/products/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display">shopping_cart</mat-icon>
        <span>Productos</span>
      </button>
    </a>
    <a routerLink="/categories/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display">category</mat-icon>
        <span>Categorías</span>
      </button>
    </a>
  </div>
</div>
