.home {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 2rem;
    padding: 2rem;
  }
  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3.5rem;
  }
  
  .button {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
  }
  
  .text {
    text-decoration: none;
  }
  
  mat-icon {
    margin: 0;
    padding: 0;
  }
  
  .icon-display {
    transform: scale(3);
    margin: 2rem;
    padding: 0;
  }
  

