<div class="home">
  <h2 class="title">Bienvenido al sistema de Facturación</h2>
  <div class="options">
    <a routerLink="/user/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display">person</mat-icon>
        <span class="text">Usuarios</span>
      </button>
    </a>
    <a routerLink="/clients/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display">business_center</mat-icon>
        <span>Clientes</span>
      </button>
    </a>
    <a routerLink="/suppliers/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display">storefront</mat-icon>
        <span>Proveedores</span>
      </button>
    </a>
    <a routerLink="/invoices/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display"> receipt_long </mat-icon>
        <span>Facturas</span>
      </button>
    </a>
    <a routerLink="/products/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display">inventory_2</mat-icon>
        <span>Productos</span>
      </button>
    </a>
    <a routerLink="/categories/index">
      <button mat-fab class="button">
        <mat-icon class="icon-display">sell</mat-icon>
        <span>Categorías</span>
      </button>
    </a>
  </div>
</div>
