<form class="add-form">
  <h2 class="title">Registrar Categoría</h2>

  <mat-form-field class="full-width">
    <mat-label>Nombre Categoría</mat-label>
    <input
      type="text"
      matInput
      [formControl]="nombreCategoriasFormControl"
      placeholder="Ex. Tecnología"
    />
    <mat-error *ngIf="nombreCategoriasFormControl.hasError('required')">
      El nombre de la categoría es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <input
      type="text"
      matInput
      [formControl]="descripcionFormControl"
      placeholder="Descripción de la categoría"
    />
    <mat-error *ngIf="descripcionFormControl.hasError('required')">
      La descripción es requerida
    </mat-error>
  </mat-form-field>

  <div class="buttons">
    <button
      mat-fab
      extended
      [attr.aria-label]="'Registrar categoría'"
      (click)="onSubmit()"
    >
      <mat-icon>add</mat-icon>
      Registrar
    </button>

    <a routerLink="/categories/index">
      <button ngNoForm mat-fab extended [attr.aria-label]="'Cancelar registro'">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </a>
  </div>
</form>
