<div class="index">
  <div class="background"></div>
  <h2 class="title">Indice de Usuarios</h2>
  <div>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Contenido a filtrar"
        #input
      />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container *ngFor="let column of displayedColumns">
        <ng-container matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef>{{ column.toUpperCase() }}</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="column === 'estado'">
              {{ element.estado ? "Activo" : "Inactivo" }}
            </ng-container>
            <ng-container *ngIf="column === 'rol'">
              {{ element.rol }}
            </ng-container>
            <ng-container *ngIf="column === 'contraseña'">
              <!-- Muestra la contraseña (pero ten cuidado con esto en producción) -->
              {{ element.contrasena }}
            </ng-container>
            <ng-container
              *ngIf="
                column !== 'estado' &&
                column !== 'rol' &&
                column !== 'acciones' &&
                column !== 'contraseña'
              "
            >
              {{ element[column] }}
            </ng-container>
            <ng-container *ngIf="column === 'acciones'">
              <div class="action-buttons">
                <button
                  mat-icon-button
                  [routerLink]="['/user/edit',element.id]"
                  class="buttonedit"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="deleteUser(element.id)"
                  class="buttondelete"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="buttons">
    <a routerLink="/user/add">
      <button mat-fab extended [attr.aria-label]="'Añadir usuario'">
        <mat-icon>add</mat-icon>
        Añadir usuario
      </button>
    </a>

    <a routerLink="/home">
      <button mat-fab extended [attr.aria-label]="'Regresar'">
        <mat-icon>keyboard_return</mat-icon>
        Regresar
      </button>
    </a>
  </div>
</div>
