<form class="add-form">
  <div class="background"></div>
  <h2 class="title">Registrar Cliente</h2>

  <mat-form-field class="full-width">
    <mat-label>RUC</mat-label>
    <input
      type="text"
      matInput
      [formControl]="rucFormControl"
      placeholder="Ex. 12345678901"
    />
    <mat-error *ngIf="rucFormControl.hasError('required')">
      El RUC es requerido
    </mat-error>
    <mat-error *ngIf="rucFormControl.hasError('pattern')">
      El formato del RUC es incorrecto
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Nombre</mat-label>
    <input
      type="text"
      matInput
      [formControl]="nombreFormControl"
      placeholder="Ex. Juan"
    />
    <mat-error *ngIf="nombreFormControl.hasError('required')">
      El nombre es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Apellido</mat-label>
    <input
      type="text"
      matInput
      [formControl]="apellidoFormControl"
      placeholder="Ex. Pérez"
    />
    <mat-error *ngIf="apellidoFormControl.hasError('required')">
      El apellido es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Correo</mat-label>
    <input
      type="email"
      matInput
      [formControl]="correoFormControl"
      placeholder="Ex. ejemplo@correo.com"
    />
    <mat-error *ngIf="correoFormControl.hasError('required')">
      El correo es requerido
    </mat-error>
    <mat-error *ngIf="correoFormControl.hasError('email')">
      El formato del correo es incorrecto
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Teléfono</mat-label>
    <input
      type="tel"
      matInput
      [formControl]="telefonoFormControl"
      placeholder="Ex. 987654321"
    />
    <mat-error *ngIf="telefonoFormControl.hasError('required')">
      El teléfono es requerido
    </mat-error>
    <mat-error *ngIf="telefonoFormControl.hasError('pattern')">
      El formato del teléfono es incorrecto
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Dirección</mat-label>
    <input
      type="text"
      matInput
      [formControl]="direccionFormControl"
      placeholder="Ex. Calle Falsa 123"
    />
    <mat-error *ngIf="direccionFormControl.hasError('required')">
      La dirección es requerida
    </mat-error>
  </mat-form-field>

  <div class="buttons">
    <button
      mat-fab
      extended
      [attr.aria-label]="'Registrar cliente'"
      (click)="onSubmit()"
    >
      <mat-icon>add</mat-icon>
      Registrar
    </button>

    <a routerLink="/clients/index">
      <button ngNoForm mat-fab extended [attr.aria-label]="'Cancelar registro'">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </a>
  </div>
</form>