.index {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  border: 1px solid black;
}

.title {
  font-size: 2rem;
  color: white;
  font-weight: 800;
}

.buttons {
  margin: 3rem;
}

.buttons > * {
  margin: 1rem;
}

.table th,
.table td {
  padding: 8px 16px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table td {
  border-bottom: 1px solid #151414;
}

.action-buttons {
  display: flex;
  gap: 2px; /* Espacio entre los botones */
  justify-content: center; /* Centra los botones dentro del contenedor, opcional */
}

.buttonedit {
  color: #1f516f;
}

.buttondelete {
  color: #e15639;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table td {
  border-bottom: 1px solid #151414;
}

.action-buttons {
  display: flex;
  gap: 2px; /* Espacio entre los botones */
  justify-content: center; /* Centra los botones dentro del contenedor, opcional */
}

.buttonedit {
  color: #1f516f;
}

.buttondelete {
  color: #e15639;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../../public/wallpaperbetter.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;

  z-index: -1; 
}
