<form class="add-form">
  <h2 class="title">Registrar Producto</h2>

  <mat-form-field class="full-width">
    <mat-label>Nombre del Producto</mat-label>
    <input
      type="text"
      matInput
      [formControl]="nombreProductoFormControl"
      placeholder="Ex. Laptop ASUS"
    />
    <mat-error *ngIf="nombreProductoFormControl.hasError('required')">
      El nombre del producto es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <input
      type="text"
      matInput
      [formControl]="descripcionFormControl"
      placeholder="Ex. Laptop con procesador Intel i7"
    />
    <mat-error *ngIf="descripcionFormControl.hasError('required')">
      La descripción es requerida
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Precio</mat-label>
    <input
      type="number"
      matInput
      [formControl]="precioFormControl"
      placeholder="Ex. 1500.00"
    />
    <mat-error *ngIf="precioFormControl.hasError('required')">
      El precio es requerido
    </mat-error>
    <mat-error *ngIf="precioFormControl.hasError('pattern')">
      El formato del precio es incorrecto
    </mat-error>
    <mat-error *ngIf="precioFormControl.hasError('min')">
      El precio debe ser mayor a 0
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Stock</mat-label>
    <input
      type="number"
      matInput
      [formControl]="stockFormControl"
      placeholder="Ex. 10"
    />
    <mat-error *ngIf="stockFormControl.hasError('required')">
      El stock es requerido
    </mat-error>
    <mat-error *ngIf="stockFormControl.hasError('pattern')">
      El formato del stock es incorrecto
    </mat-error>
  </mat-form-field>

  <div class="buttons">
    <button
      mat-fab
      extended
      [attr.aria-label]="'Registrar producto'"
      (click)="onSubmit()"
    >
      <mat-icon>add</mat-icon>
      Registrar
    </button>

    <a routerLink="/products/index">
      <button ngNoForm mat-fab extended [attr.aria-label]="'Cancelar registro'">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </a>
  </div>
</form>