<form class="add-form" [formGroup]="clientForm">
  <div class="background"></div>
  <h2 class="title">Editar Cliente</h2>

  <mat-form-field class="full-width">
    <mat-label>RUC</mat-label>
    <input matInput formControlName="ruc" />
    <mat-error *ngIf="clientForm.get('ruc')?.hasError('required')">
      El RUC es requerido.
    </mat-error>
    <mat-error *ngIf="clientForm.get('ruc')?.hasError('pattern')">
      El formato del RUC no es válido.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
    <mat-error *ngIf="clientForm.get('nombre')?.hasError('required')">
      El nombre es requerido.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="apellido" />
    <mat-error *ngIf="clientForm.get('apellido')?.hasError('required')">
      El apellido es requerido.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Correo</mat-label>
    <input matInput formControlName="correo" />
    <mat-error *ngIf="clientForm.get('correo')?.hasError('required')">
      El correo es requerido.
    </mat-error>
    <mat-error *ngIf="clientForm.get('correo')?.hasError('email')">
      El formato del correo no es válido.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono" />
    <mat-error *ngIf="clientForm.get('telefono')?.hasError('required')">
      El teléfono es requerido.
    </mat-error>
    <mat-error *ngIf="clientForm.get('telefono')?.hasError('pattern')">
      El formato del teléfono no es válido.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="direccion" />
    <mat-error *ngIf="clientForm.get('direccion')?.hasError('required')">
      La dirección es requerida.
    </mat-error>
  </mat-form-field>

  <div class="buttons">
    <button
      mat-fab
      extended
      color="primary"
      (click)="onSubmit()"
      [disabled]="!clientForm.valid"
    >
      <mat-icon>edit</mat-icon>
      Editar Cliente
    </button>

    <a routerLink="/clients/index">
      <button mat-fab extended color="warn">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </a>
  </div>
</form>